
<h3 class = "text-primary">Ваше замовлення</h3>
		<hr style = "border-top:1px dotted #ccc;"/>
<div class="row">	
	<div class = "col-md-8">
		<div class = "panel panel-primary">
			<div class = "panel-heading">
				<h5>Корзина</h5>
			</div>
			<div class = "panel-body table-responsive">
				<table class = "table">
					<thead>
						<tr>
							<th>Товар</th>
							<th>Ціна</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "cart in carts" ng-init = "setTotals(cart)">
							<td>
								{{cart.title}}
								<img ng-src = "{{cart.image}}" style="width: 25%"/>
							</td>

							<td>₴{{cart.price}}</td>
							<td><button type = "button" ng-click = "remove_cart(cart)" class = "btn btn-danger"><span class = "glyphicon glyphicon-remove"></span></button></td>
						</tr>
						<tr>
							<td align = "right">Сума замовлення</td>
							<td>₴{{total}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

  <div class="modal-body">    
  <form ng-submit="createOrder()">
    <div class="input-group">
      <input type="text" maxlength="40" ng-model="order.name" class="form-control" placeholder="Ваше ім’я та прізвище..." required style="border-radius:4px;">
      <input type="tel" maxlength="10" pattern="[0-9]{10}" ng-model="order.phone" class="form-control" placeholder="Ваш номер телефону... (Формат введення 0XXXXXXXXX)" required style="border-radius:4px;">
      <input type="text" maxlength="40" ng-model="order.email" class="form-control" placeholder="email" required style="border-radius:4px;">
      <input type="text" maxlength="40" ng-model="order.town" class="form-control" placeholder="місто" required style="border-radius:4px;">
      <input type="text" maxlength="40" ng-model="order.delivery" class="form-control" placeholder="Спосіб доставка" required style="border-radius:4px;">
      <textarea maxlength="200" ng-model="order.comment" placeholder="Коментар до замовлення..." class="form-control" style="border-radius:4px;"></textarea>

    </div>
    <div class="g-recaptcha" data-sitekey="6LfcczsUAAAAAOZgy_SaX1EYNBEKvMBzCwtmN5tv" style="margin: 10px 0 20px 0;"></div>
    <button type="submit" value="Створити замовлення" class="btn btn-success" style="margin-left: 80px;">Підтвердити</button>
  </form>
  <script src='https://www.google.com/recaptcha/api.js'></script>


  <div class="success-message" data-ng-show="isOrderSubmitted">
    <p>Вітаємо, Ви замовили товар, очікуйте повідомлення на email!<p>
    <button data-ng-click="closeCart()">OK</button>
  </div>

</div>