<div class="row">	
	<div class="col-md-9">
		<carousel interval="myInterval">
			<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{slide.image}}" style="margin:auto;">
			</slide>
		</carousel>
	</div>
	<div class="side-buttons col-md-3">
		<button ng-click="modal($stateParams)" type="button" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span><br>Замовити дзвінок</button><br>
		<a ui-sref="portfolio"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th"></span><br>Портфоліо</button></a>
	</div>
</div>
<div class="col-md-9 service-info">
	<h2>{{service.name}}</h2>
	<p>{{service.snippet}}</p>
</div>