<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span></button>
    <h4 class="modal-title" id="{{$index}}-label">Ми на зв’язку!</h4>
</div>
<div class="modal-body">
    <h3>Заповніть форму</h3>
    <div class="row">
            <p class="text-center">Вкажіть свій телефонний номер, і ми зателефонуємо вам!</p>
            <p>{{reason}}</p>
    </div>
</div>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ваше ім’я...">
    <input type="tel" class="form-control" placeholder="Ваш номер телефону...">
  </div>
  <button type="submit" class="btn btn-success">Підтвердити</button>
</form>



<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Відмінити</button>
</div>


