<div class="page-heading">
		<div class="page-headers">
			<h1 class="text-left">Послуги</h1>
			<p class="lead text-left">Тут ви знайдете повний перелік наших послуг!</p>
		</div>			
	</div>
<div class="separator"></div>
<div class="contain container-fluid">
	<div class="col-md-3">
		<div class="sidebar">
			<div class="list-group panel">
				<div class="cat" ng-cloak ng-repeat="service in services">
					<a href="" class="list-group-item" data-toggle="collapse" data-target=".{{service.key}}" data-parent=".sidebar"><i class="glyphicon glyphicon-menu-down"></i>{{service.name}}</a>
					<div ng-repeat="cat in service.subcats" class="collapse {{service.key}} list-group-submenu">
						<a ui-sref="services.detail({ id:cat.subKey })" class="list-group-item"><span class="glyphicon glyphicon-minus"></span>{{cat.subName}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="service col-md-9" ui-view></div>
</div>
