.angular-google-map-container { 
height: 300px;
border: 7px solid #f5faed;
}
.contacts {
	
}

.contacts p {
	text-align: left;
	font-size: 17px;
}

.contacts .glyphicon {
	left: 10px;
	font-size: 30px;
}
.contacts .glyphicon-earphone {
	top: 10px;
	left: 10px;
}
.contacts .glyphicon-map-marker {
	top: 30px;
	left: 10px;
}

/* Team! */
.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #f5faed;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}
