.angular-google-map-container { 
height: 300px;
/*border: 7px solid #f5faed;*/
}
/*.contacts {
	
}

.contacts p {
	text-align: left;
	font-size: 17px;
}

.contacts .glyphicon {
	left: 10px;
	font-size: 30px;
}
.contacts .glyphicon-earphone {
	top: 10px;
	left: 10px;
}
.contacts .glyphicon-map-marker {
	top: 30px;
	left: 10px;
}*/


.contacts {
	font-size: 20px;	
	span {
		display: block;
		text-align: center;
		font-size: 35px;
		margin-bottom: 15px;
		margin-top: 30px;
	}
}


.team-member {
    margin-bottom: 20px;
    text-align: center;
    img {
    	width: 255px;
	    margin: 0 auto;
	    border: 7px solid #f5faed;
    }
    h4 {
	    margin-top: 25px;
	    margin-bottom: 0;
	    text-transform: none;
	}
	p {
	    margin-top: 0;
	}
}








