.news {
	margin: 15px auto;
	max-width: 1200px;
	margin-bottom: 20px;
	
	.main-article {
		position: relative;
		img {
			width: 100%;
		}

		.main-article-overlay {
			color: #fff;
			position: absolute;
			margin: 0 15px;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 50px 15px 20px 15px;
			text-align: justify;
			background: -webkit-linear-gradient(bottom, #000, #000 50%, transparent);
			text-decoration: none;
			&:hover {
				text-decoration: none;
				color: #55acee;
			}
		}
	}
}

	.news-item {
		position: relative;
		color: rgb(78,82,77);
		display: block;
		overflow: hidden;
		margin-bottom: 3%;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			h4 {
				color: #55acee;
			}
		}

		.article-block-headers {
		width: 100%;
		height: 100%;
		position: absolute;
		padding-left: 33%;
		overflow: hidden;
		white-space: nowrap;
		
		h4 {
			margin: 0;
			padding: 5px 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		p {
			color: #B7B8BB;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 0;
		}
		.btn {
			position: absolute;
			right: 0;
			bottom: 10px;
			border-radius: 0;
		}
		}
		img {
			float: left;
			display: inline-block;
			width: 30%;
			margin-right: 20px;
		}
	}


.article-container {
	.article {
		img {
			width: 100%;
		}
		h2 {
			margin-top: 0;
		}
	}
	.user-buttons {
		a {
			width: 100%;
			border-radius: 0;
			margin-bottom: 15px;
			span {
				display: block;
			}
		}
	}
}