/*html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #324A5E;
  font-family: 'Play', sans-serif;
  font-size: 1em;
}*/

.topBar {
  color: #324A5E;
  font-family: 'Play', sans-serif;
  font-size: 0.9em;
  padding-top: 5px;
  text-align: center;
}

#headerBar {
  width: 100%;
  background-color: #1D73B8;
}

.logo {
  display: inline-flex;
  padding-top: 3px;
  margin: 0;
}

#name {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  font-size: 3.5em;
  line-height: 0.9em;
  text-decoration: none;
}

#navButton {
	background-color: #54C0EB;
	border: 2px solid #324A5E;
	position: relative;
	top: -70px;
}

#navButton:active {
	background-color: #84DBFF;
}

#navButtonNext {
  font-size: 20px;
  color: #324A5E;
  padding:2px 3px 0px 3px;
}

.cat .navbar-default .navbar-nav > li > a {
	color: #324A5E;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

#navMenu {
  padding: 0;
}

#subCatMenu {
  color: #324A5E;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

#catMenu {
  color: #324A5E;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

#searchInput {
  padding: 5px 15px 5px 0px;
  border-radius: 4px;
  text-align: right;
}

#searchButton {
  margin: 0 0 4px 3px;
}

/*#searchButton {
  padding: 10px 20px 5px 0px;
  text-align: left;
  position: relative;
}*/

#formSearch {
  height: 40px;
  width: 34%;
  border: none;
  border-radius: 4px;
  padding-left: 5px;
  margin-top: 5px;
  text-align: left;
  text-transform: lowercase;
  font-size: 1.2em;
  /*background-image: url("../images/search_icon.png");*/
  background-repeat: no-repeat;
  background-position: right;
}

#formSearch:focus {
  border-color: #F8F8F8;
  outline: 0;
  font-style: italic;
}

.dropSubMenu {
  position: relative;
}

.dropMenu {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 320%;
  top: 0;
  left: 100%;
  margin-top: -1px;
}

#subSubcatMenu {
  box-shadow: 2px 2px 4px #84DBFF;
  background-color: #ffffff;
  font-size: 1.1em;
  text-align: left;
  padding: 5px 0 5px 10px;
  font-weight: normal;
}

#subSubcatMenu > a {
  color: #000000;
  text-decoration: none;

}

#subSubcatMenu > a:hover {
  color: #1D73B8;
  font-weight: bold;
}

#nameSubSubCat {
  width: 100%;
  font-size: 1em;
  text-align: center;
  color: #000000;
  text-decoration: none;

}

#nameSubSubCat:hover {
  color: #1D73B8;
  font-weight: bold;
}

#productState {
  width: 100%;
	border-radius: 10px;
}

#overflowTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  height: 45px;
}

#stylePrice {
  font-size: 1em;
  color: #ffffff;
  padding: 1px 6px 2px 6px;
  background-color: #54C0EB;
  border-radius: 10px;
}

#overlaySpec {
  color: #ffffff;
  padding: 5px;
  font-size: 0.8em;
}

#overlaySpecMain {
  color: #ffffff;
  padding: 5px;
  font-size: 1em;
}

#productArea {
  padding: 0 3%;
}

#productBar {
  padding-left: 3%;
}

#productPrice {
  font-size: 1.4em;
  color: #ffffff;
  background-color: #54C0EB;
  border-radius: 10px;
  padding: 1px 6px 2px 6px;
}

#fb-button-container {
  max-width: 100px;
  margin: auto;
}

.cartText, #total {
  font-size: 1.1em;
}

#total {
  font-weight: bold;
}

.g-recaptcha {

float: left;
}
