/*html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #324A5E;
  font-family: 'Play', sans-serif;
  font-size: 1em;
}*/

hr {
  margin: 0;
  padding: 0;
}

.topBar {
  color: #324A5E;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
}

#headerBar {
  width: 100%;
  background-color: #54C0EB;
  border-bottom: 7px solid #84DBFF;
  border-top: 7px solid #84DBFF;
}

.logo {
  display: inline-flex;
  padding-top: 3px;
  margin: 0;
}

#name {
  color: #324A5E;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  font-size: 95px;
  line-height: 0.9em;
  text-decoration: none;
}

.cat .navbar-default .navbar-nav > li > a {
	color: #324A5E;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

#catMenu {
  color: #324A5E;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 3em;
}

  #overflowTitle {
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    height: 50px;
    padding-left: 10px
  }

#stylePrice {
  font-size: 1em;
  color: #ffffff;
  margin: 5px 0 0 10px;
  padding: 1px 6px 2px 6px;
  background-color: #54C0EB;
  border-radius: 10px;
}
