
/* Isotope Items
---------------------------------- */
.filters {
	margin: 0 0 30px 0;
}
.filters .nav-pills > li {
	margin-right: 2px;
	margin-bottom: 2px;
}
.filters .nav-pills > li + li {
	margin-left: 0px;
}
.text-center.filters .nav-pills > li {
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	display: block;
	float: none;
}
.portfolio-container {
	overflow: hidden;
}
.portfolio-item {
	margin-bottom: 20px;
}
.portfolio-item .btn-default {
	color: #999999;
	border-radius: 0;
}
.portfolio-item .btn-default:hover {
	color: #ffffff;
	background-color: rgba(85, 172, 238, 0.9);

}
@media (max-width:480px) {
	.filters .nav-pills > li {
		width: 100%;
		display: block;
	}
}

/* Images Overlay
----------------------------------------------------------------------------- */
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(85, 172, 238, 0.9);
	cursor: pointer;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.overlay:hover {
	text-decoration: none;
}
.overlay span {
	position: absolute;
	display: block;
	bottom: 10px;
	text-align: center;
	width: 100%;
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
}
.overlay i {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 18px;
	line-height: 1x;
	color: #ffffff;
	margin-top: -8px;
	margin-left: -8px;
	text-align: center;
}
.overlay-container:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}


/* Modals
---------------------------------- */
.modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.modal-content img {
	width: 100%;
}
.modal-header {
	background-color: #55acee;
	color: #ffffff;
}
.modal-header h4 {
	color: #ffffff;
}
.modal-header .close {
	font-weight: 300;
	color: #FFFFFF;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
	.modal-lg {
		width: 1140px;
	}
}

/* Pills
---------------------------------- */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover {
	background-color: #55acee;
	border-color: #55acee;
	color: #ffffff;
}
.nav-pills > li > a {
	border-radius: 0;
	padding: 8px 20px;
	border: 1px solid #cacaca;
	color: #666666;
	font-size: 15px;
	text-align: left;
}
.nav-pills > li > a::first-letter {
	text-transform: uppercase;
}
