.cat {
	margin-bottom: 2px;
}

.sidebar {
	font-size: 15px;
	margin: -1px 0px 0px 0px;
}
.sidebar a::first-letter {
	text-transform: uppercase;
}
.sidebar i {
	float: right;
	top: 4px;
  margin-left: 5px;
}

.cat > .list-group-item {
  border: 1px solid rgba(85, 172, 238, 0.9);
  border-radius: 0;
  z-index: 1;
}
.cat  .list-group-item:hover {
  background-color: #55acee;
  color: #ffffff;
}

.list-group-submenu {
  margin-left:20px;
}
.list-group-submenu .list-group-item {
  border: 0;
  border-radius: 0;
}

.list-group-item:hover {
  background-color: rgba(85, 172, 238, 0.9);
  color: #ffffff;
}

.service-info p, .service-info h2 {

  text-align: justify;
}
.service-info p::first-letter, .service-info h2::first-letter {
  text-transform: uppercase;
}

.side-buttons button {
  width: 100%;
  border-radius: 0;
  margin-bottom: 10px;

}
.side-buttons span {
  font-size: 150%;
}