
html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.50;
	color: #333333;
	background-color: #ffffff;
	position: relative;
}

/* Site name and logo */
.logo {
margin: 10px 10px 10px 0;
transform: scale(0.8);
}
.logo,
.site-name-and-slogan {
	font-family: 'Raleway', sans-serif;
	float: left;
}
.site-name {
	font-size: 24px;
	padding-top: 10px;
}
.site-name a:hover {
	text-decoration: none;
}
.site-name a {
	color: black;
}
.site-slogan {
	margin-top: -5px;
}

/* Header */
.header .navbar {
	margin-bottom: 0;
}
.main-navigation .navbar-default {
	background-color: transparent;
	border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
	color: black;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 350;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
	background-color: transparent;
	color: #55acee;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
	color: #55acee;
}
@media (min-width:768px) {
	.main-navigation .navbar-default .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav {
		float: left !important;
	}
}
@media (max-width:767px) {
	.header.navbar-fixed-top {
		position: absolute;
	}
}

/*Top-line headings and paragraphs*/
.relative-div {
	position: relative;
	
}

.relative-div img {
min-height: 110px;
width: 100%;
}

.line-caption {
	position: absolute;
	top: 10%;
	z-index: 2;
	color: white;
}
