html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }
html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.50;
	color: #333333;
	background-color: #ffffff;
	position: relative;
}

/* Site name and logo */
.logo {
margin: 10px 10px 10px 0;
transform: scale(0.8);
}
.logo,
.site-name-and-slogan {
	font-family: 'Raleway', sans-serif;
	float: left;
}
.site-name {
	font-size: 24px;
	padding-top: 10px;
}
.site-name a:hover {
	text-decoration: none;
}
.site-name a {
	color: black;
}
.site-slogan {
	margin-top: -5px;
}

/* Header */
.header .navbar {
	margin-bottom: 0;
}
.main-navigation .navbar-default {
	background-color: transparent;
	border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
	color: black;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 350;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
	background-color: transparent;
	color: #55acee;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
	color: #55acee;
}
@media (min-width:768px) {
	.main-navigation .navbar-default .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav {
		float: left !important;
	}
}
@media (max-width:767px) {
	.header.navbar-fixed-top {
		position: absolute;
	}
}
a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

/*Top-line headings and paragraphs*/
.relative-div {
	position: relative;
	
}

.relative-div img {
min-height: 110px;
width: 100%;
}

.line-caption {
	position: absolute;
	top: 10%;
	z-index: 2;
	color: white;
}


/* Collapse
---------------------------------- */
.panel-group .panel {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
}
.panel-default > .panel-heading {
	padding: 0;
	outline: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	width: 100%;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border: 1px solid #f0f0f0;
	border-top: none;
	background-color: #fafafa
}
.panel-heading a {
	font-weight: 400;
	padding: 12px 35px 12px 15px;
	display: inline-block;
	width: 100%;
	background-color: #55acee;
	color: #ffffff;
	position: relative;
	text-decoration: none;
}
.panel-heading a.collapsed {
	color: #ffffff;
	background-color: #333333;
}
.panel-heading a:after {
	font-family: "FontAwesome";
	content: "\f147";
	position: absolute;
	right: 15px;
	font-size: 14px;
	font-weight: 300;
	top: 50%;
	line-height: 1;
	margin-top: -7px;
}
.panel-heading a.collapsed:after {
	content: "\f196";
}
.panel-heading a:hover {
	text-decoration: none;
	background-color: #55acee;
	color: #ffffff;
}
.panel-title a i {
	padding-right: 10px;
	font-size: 20px;
}
