html {
overflow: -moz-scrollbars-vertical;
overflow-y: scroll;
}
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	/*font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;*/
	font-size: 1.5em;
	line-height: 1.50;
	color: #324A5E;
	/*color: #333333;*/
	background-color: #ffffff;
	position: relative;
}

/* Site name and logo */
.logo {
	/*top: 10px;*/
	/*margin: 0px -10px 0 0;*/
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}
.logo,
.site-name-and-slogan {
	/*float: left;*/
}
.site-name {
	padding-top: 10px;
}



/* Header */
.header .navbar {
	margin-bottom: 0;
	margin-bottom: 0;
	font-weight: 300;
}
.main-navigation .navbar-default {
	background-color: transparent;
	border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
	color: #ffffff;
	/*color: #777;*/
	display: inline-block;
	padding: 10px 10px;
	font-size: 18px;
	font-weight: bold;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
	background-color: transparent;
	color: #54C0EB;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
	color: #54C0EB;
}

@media (min-width: 320px) and (max-width: 991px) {
		#formSearch {
			margin-left: 8px;
		}

		#searchButton {
		float: right;
	}
	.navbar-right {
		float: right;
		margin: auto;
	}

	.navbar-right li {
		display: inline-block;
		margin: 0;
	}
}

@media (min-width:768px) {
	.main-navigation .navbar-default .navbar-nav > li > a {
		/*padding-top: 30px;
		padding-bottom: 30px;*/
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.main-banner {
	background-size: 100% auto;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

}

@media only screen and (max-width: 1080px) {
  #productBar {
		display: none;
	}
}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

/*Main page banner area*/
.main-banner {
	background: url(../images/banner.jpg) center top no-repeat;
	background-size: auto auto;

}
.main-banner .container-fluid {
padding: 0;
}

.main-heading {
	font-weight: 300;
	background-color: rgba(0,0,0, 0.7);
	margin: 300px 0 0 0;
	color: white;
}
.main-heading h1 {
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
.main-heading span {
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	animation: fadeIn 2s;
}

/* Other pages*/


.page-heading {
	background: url(../images/banner.jpg) 100% 27% no-repeat;
	height: 250px;
}

.contacts-heading {
	background: url(../images/contacts.jpg) 100% 27% no-repeat;
	height: 320px;
}

.cart-heading {
	background: url(../images/shopping-cart.jpg) 100% 15% no-repeat;
	height: 230px;
}

.page-heading, .contacts-heading, .cart-heading {
	background-size: 100% auto;
	position: relative;
	top: -20px;
}
/*.page-headers {
	padding: 12px 0 12px 10%;
	background: rgba(0,0,0,0.6);
}*/
.page-headers h1 {
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}
.page-headers p {
	-webkit-animation: slide 0.5s ease-out;
	-moz-animation: slide 0.5s ease-out;
	animation: slide 0.5s ease-out;
}

@-webkit-keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

@-moz-keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

@-webkit-keyframes slide {
from {
margin-left: -500px;
opacity: 0;
}
to {
margin-left: 0;
opacity: 1;
}
}

@-moz-keyframes slide {
from {
margin-left: -500px;
opacity: 0;
}
to {
margin-left: 0;
opacity: 1;
}
}

/* main */
.main-heading h1 {
	font-size: 350%;
	margin: 30px 0 30px 0;
}

input:focus {
  border: 2px groove #84DBFF;
}


h1 span,
h2 span,
h3 span,
h4 span {
	color: #339BEB;
}

/* Removing default carousel controls */
.clients .right.carousel-control, .clients .left.carousel-control {
    display: none;
}
.clients .carousel-indicators li {
	visibility: hidden;
}
.separator {
	width: 100%;
	height: 40px;
}
.contain {
	max-width: 1400px;
	margin: 0 auto 0 auto;
}
@media (min-width:768px) {
	.main-banner {
	background-size: 100% auto;
	}
}

 /*********************************************
								  FOOTER
	*********************************************/
#footer {
	margin-top: 40px;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: 300;
	background-color: #282D31;
	color: white;
}
.subfooter {
	margin-top: 10px;
}
footer ul {
	list-style-type: none;
}
footer li {
	display: inline-block;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	padding-bottom: 3px;
	margin: 0 5px;
}

footer a {
	text-decoration: none;
	color: white;
}
footer a:hover {
	text-decoration: none;
	color: #55acee;
}
footer .mini-about {
	font-size: 18px;
}

.mini-about a {
	color: #55acee;
}

.social ul {
	padding-left: 0;
}

.social a {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 15px;
}
.social i {
	font-size: 40px;
	margin: 0 10px;
}

.social a:hover {
	text-decoration: none;
	color: #84DBFF;
}

#disclaimer {
	padding-top: 10px;
	font-size: 0.7em;
	background-color: #1D1F20;
	margin: 0;
}

#developers {
	font-size: 0.8em;
}

/**********************************************************
****************  DELIVERY *******************************
*******************************************************/
.delivery-options {
	max-width: 80%;
	margin: auto;
}

.delivery-options h3, .delivery-options p {
	color: #324A5E;
	text-align: left;
}

.delivery-options h3 {
	font-weight: bold;
}

.delivery-options ul {
	list-style: none;
}

.delivery-options i {
	padding-right: 5px;
	color: #54C0EB;
}

.delivery-options p, .delivery-options li {
	font-size: 1.5em;
}

/**********************************************************
****************  CONTACTS *******************************
*******************************************************/

.contact-phones ul {
	list-style: none;
	padding-left: 0;
}

.contact-phones img, .address img {
	width: 40px;
	height: auto;
	margin: 15px auto;
}

.address a {
	text-decoration: none;
}

.address a:visited {
	color: inherit;
}
