html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.50;
	color: #333333;
	background-color: #ffffff;
	position: relative;
}

/* Site name and logo */
.logo {
	top: 10px;
margin: 15px -10px 0 0;
transform: scale(0.6);
}
.logo,
.site-name-and-slogan {
	float: left;
}
.site-name {
	padding-top: 10px;
}



/* Header */
.header .navbar {
	margin-bottom: 0;
}
.main-navigation .navbar-default {
	background-color: transparent;
	border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
	color: black;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 350;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
	background-color: transparent;
	color: #55acee;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
	color: #55acee;
}
@media (min-width:768px) {
	.main-navigation .navbar-default .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.main-banner {
	background-size: 100% auto;	
	}
}
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav {
		float: left !important;
	}
}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

/*Main page banner area*/
.main-banner {
	background: url(../images/1.jpg) center top no-repeat,
	url(../images/pattern-3.png);
	background-size: auto auto;
	
}
.main-heading {
	background-color: rgba(0,0,0, 0.5);
	border-radius: 5px;
	margin: 150px 0 150px 0;
	color: white;
}
/* Other pages*/



.page-heading {
	background: url(../images/1.jpg) 100% 40% no-repeat;
	background-size: 100% auto;
	color: white;
}
.page-headers {
	padding: 20px 0 20px 10%;
	background: rgba(0,0,0,0.6);
}
.page-headers h1 {
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}
.page-headers p {
	-webkit-animation: slide 0.5s ease-out;
	-moz-animation: slide 0.5s ease-out;
	animation: slide 0.5s ease-out;
}
@-webkit-keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

@-moz-keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

@-webkit-keyframes slide {
from {
margin-left: -500px;
opacity: 0;
}
to {
margin-left: 0;
opacity: 1;
}
}

@-moz-keyframes slide {
from {
margin-left: -500px;
opacity: 0;
}
to {
margin-left: 0;
opacity: 1;
}
}

/* main */
.main-heading h1 {
	font-weight: 700;
	font-size: 350%;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.3);
}
.main-heading p {
	font-size: 300%;
	 text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}



h1 span,
h2 span,
h3 span,
h4 span {
	color: #339BEB;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.3);
}

/* Removing default carousel controls */
.clients .right.carousel-control, .clients .left.carousel-control {
    display: none;
}
.clients .carousel-indicators li { 
	visibility: hidden; 
}
.separator {
	width: 100%;
	height: 40px;
}
.contain {
	max-width: 1400px;
	margin: 0 auto 0 auto;
}
@media (min-width:768px) {
	.main-banner {
	background-size: 100% auto;	
	}
}

 /* footer styles */
footer {
	margin-top: 40px;
	border-top: 14px solid rgb(207,233,230);
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 350;
	background-color: #333333;
	color: white;
}
.subfooter {
	margin-top: 30px;
}
footer ul {
	list-style-type: none;
}
/*footer li {
	display: inline-block;
}*/
footer a {
	text-decoration: none;
	color: white;
}
footer a:hover {
	text-decoration: none;
	color: #55acee;
}
footer .mini-about {
	font-size: 16px;
	text-align: justify;
}
.mini-about a {
	color: #55acee;
}

.social a {
	font-size: 18px;
	color: #55acee;
}
.social i {
	font-size: 25px;
	margin-right: 5px;
}
.social a:hover {
	text-decoration: underline;
}
