<div class="row">

	<div class="container col-md-2">
		<a href="" class="btn btn-success" ui-sref="dashboard.addproduct"><i class="fa fa-plus"></i> Додати товар</a>
	</div>

	<div class="container col-md-10">
		<div class="row">

			<div class="col-md-5">
				<input ng-model="title" class="form-control" placeholder="Пошук" required>
			</div>

			<div class="input-group col-md-7">
				<select ng-options="cat.c_id as cat.title for cat in categories" ng-model="product.c_id" ng-change="getSubcatsList()">
				<option selected disabled value="">Вкажіть категорію</option>
				</select>

				<select ng-if="subcatsList" ng-options="subcat.s_id as subcat.title for subcat in subcatsList" ng-model="product.s_id" ng-change="getSubSubcatsList()">
				<option selected disabled value="">Вкажіть підкатегорію</option>
				</select>

				<select ng-if="subSubcatsList" ng-options="subsubcat.ss_id as subsubcat.title for subsubcat in subSubcatsList" ng-model="product.ss_id">
				<option selected disabled value="">Вкажіть субкатегорію</option>
				</select>
			</div>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2"><a href="" class="btn btn-primary" ng-click="onSelectOptionChanged()">Сортувати товари</a></div>
			<div class="col-md-2"><a href="" class="btn btn-danger" ng-click="cleanFilter()">Скинути критерії</a></div>
      <div class="col-md-4"></div>
		</div>

	</div>
</div>

<hr>
<div class="container-fluid">
	<div id="gridPortfolio" ng-cloak class="ng-cloak portfolio-container">
		<div  ng-repeat="product in products track by $index" class="portfolio-item">
			<div class="image-box">
				<div class="overlay-container">
					<img ng-src="{{product.image}}" alt="">
					<a class="overlay">
						<span>{{product.title}}</span>
					</a>
				</div>
	            <a class="btn btn-warning btn-sm" ui-sref="dashboard.editproduct({productId: product.id})" data-target="#{{$index}}">Редагувати</a>
			    <a class="btn btn-danger btn-sm" href="" ng-click="deleteProduct(product, $index)">Видалити</a>
			</div>
		</div>
	</div>
	<br/>
	<div class="text-center"><a href="" class="btn btn-primary" ng-click="loadMore()">Показати ще товарів</a></div>
</div>
