

<div class="row"> 
	<div class="container col-md-3">
		<a href="" class="btn btn-success" ui-sref="dashboard.addproduct"><i class="fa fa-plus"></i> Додати товар</a>
	</div>
	<div class="container col-md-9">
		<div class="row">
			<div class="input-group">
				<select ng-options="cat.c_id as cat.title for cat in categories" ng-model="product.c_id" ng-change="getSubcatsList()">
				<option selected disabled value="">Вкажіть категорію</option>
				</select>

				<select ng-if="subcatsList" ng-options="subcat.s_id as subcat.title for subcat in subcatsList" ng-model="product.s_id" ng-change="getSubSubcatsList()">
				<option selected disabled value="">Вкажіть підкатегорію</option>
				</select>

				<select ng-if="subSubcatsList" ng-options="subsubcat.ss_id as subsubcat.title for subsubcat in subSubcatsList" ng-model="product.ss_id">
				<option selected disabled value="">Вкажіть субкатегорію</option>
				</select>
				<br><br>
			</div>
			<div class="col-md-3"><a href="" class="btn btn-primary" ng-click="onSelectOptionChanged()">Сортувати товари</a></div>
			<div class="col-md-3"><a href="" class="btn btn-primary" ng-click="cleanFilter()">Скинути категорії</a></div>
			
		</div>
	</div>
</div>


<hr>
<div ng-cloak class="ng-cloak portfolio-container row grid-space-20">
	<div  ng-repeat="product in products track by $index" class="col-sm-6 col-md-2 portfolio-item {{product.title}}">
		<div class="image-box">
			<div class="overlay-container">
				<img ng-src="{{product.image}}" alt="">
				<a class="overlay" ui-sref="dashboard.editproduct({productId: product.id})" data-target="#{{$index}}">
					<!--<i class="glyphicon glyphicon-zoom-in"></i>-->
					<span>{{product.title}}</span>
				</a>
			</div>
			<a href="" ng-click="deleteProduct(product, $index)"  class="btn btn-danger">Видалити товар</a>
			<a class="btn btn-default btn-block" ui-sref="dashboard.editproduct({productId: product.id})" data-target="#{{$index}}"></a>
		</div>
	</div>
</div> 
<a href="" class="btn btn-primary" ng-click="loadMore()">Загрузити ще товарів</a>