<!--
<a href="" class="btn btn-success" ui-sref="dashboard.addproduct"><i class="fa fa-plus"></i> Додати товар</a>
<br><br>
<div class="list-group">
  <div ng-repeat="product in products track by $index" class="cat">
  	<div class="list-group-item cat"><img ng-src="{{product.image}}"> {{product.title}} 	
      <a href="" ng-click="deleteProduct(product, $index)"  class="btn btn-danger">Видалити товар</a>
      <a ui-sref="dashboard.editproduct({productId: product.id})" class="btn btn-default">Редагувати товар</a>
  	</div>
  	<br>

  </div>
</div>
-->

<a href="" class="btn btn-success" ui-sref="dashboard.addproduct"><i class="fa fa-plus"></i> Додати товар</a>
<hr>
<div ng-cloak class="ng-cloak portfolio-container row grid-space-20">
	<div  ng-repeat="product in products track by $index" class="col-sm-6 col-md-4 portfolio-item {{product.title}}">
		<div class="image-box">
			<div class="overlay-container">
				<img ng-src="{{product.image}}" alt="">
				<a class="overlay" ui-sref="dashboard.editproduct({productId: product.id})" data-target="#{{$index}}">
					<i class="glyphicon glyphicon-zoom-in"></i>
					<span>{{product.title}}</span>
				</a>
			</div>
			<a href="" ng-click="deleteProduct(product, $index)"  class="btn btn-danger">Видалити товар</a>
			<a class="btn btn-default btn-block" ui-sref="dashboard.editproduct({productId: product.id})" data-target="#{{$index}}"></a>
		</div>
	</div>
</div> 