<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="exel" class="no-js"> <!--<![endif]-->
<head>
<!-- <base href="/"> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Excellence</title>
  <link rel="icon" href="images/img/icon.ico" type="image/x-icon">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
  <!-- BOWER !!!-->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/summernote/dist/summernote.css">
  <link href="bower_components/ng-cropper/dist/ngCropper.all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/contacts.css">
  <link rel="stylesheet" href="css/portfolio.css">
  <link rel="stylesheet" href="css/services.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <link rel="stylesheet" href="css/news.css">
  <link rel="stylesheet" href="css/newstyle.css">

  <link rel="stylesheet" media="(max-width: 992px)" href="css/small.css" />


  
 


<meta name="google-site-verification" content="7GKQs4Gs1-RPDu1WHwxJrxfiMKDYyqLainviA6K4dOc" />
</head>
<body ng-controller="ApplicationController as appCtrl">
<header class="header navbar-static-top clearfix">
  <div class="header-topBar">
    <div class="container">
      <p class="topBar"><i class="fa fa-truck" aria-hidden="true"></i> Безкоштовна доставка по Львову</p>
    </div><hr/>
  </div>
  <div id="headerBar" class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="header-left clearfix">
          <div class="logo">
            <a ui-sref="main"><img id="logo" src="images/img/logo.png" height="80px"></a>
            <a ui-sref="main" id="name">inko</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="header-right clearfix">
          <div class="main-navigation">
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button id="navButton" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                  <i class="fa fa-chevron-circle-down" aria-hidden="true" style="font-size:20px;color:#324A5E;padding:2px 3px 0px 3px;"></i>
                  </button>
                </div>
                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">       
                  <ul ng-cloak class="nav navbar-nav navbar-right">
                    <li ng-class="{ active: isActive('')}"><a ui-sref="main" style="font-size:30px;">{{main}}</a></li>
                    <li ng-class="{ active: isActive('about')}"><a ui-sref="about" style="font-size:30px;">{{about}}</a></li>
                    <li ng-class="{ active: isActive('contacts')}"><a ui-sref="contacts" style="font-size:30px;">{{contacts}}</a></li>
                    <li ><a href="#/cart" style="font-size:30px;">Корзина</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>    
</header>
                      
  <nav class="navbar navbar-default">
    <div class="row">

      <div class="col-md-8">
        <ul class="nav navbar-nav" ng-repeat="cat in categories track by $index" class="cat">
          <li id="catMenu" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" class="text-center">{{cat.title}}<span class="caret"></span></a>
            <ul id="subCatMenu" class="dropdown-menu">
              <li class="dropdown" ng-repeat="subcat in cat.subcats track by $index">
                <a class="dropSubMenu" tabindex="-1" ui-sref="main.subcategory({ subcatId: subcat.s_id })" class="text-center"><span>{{subcat.title}}<span class="caret"></span></span></a>
                <ul class="dropdown-menu" id="dropMenu">
                  <li id="subSubcatMenu" class="dropdown" ng-repeat="subsubcat in subcat.subcats track by $index">
                    <a tabindex="-1" ui-sref="main.ssubcategory({ ssubcatId: subsubcat.ss_id })" class="text-center"><span><img ng-src="{{subsubcat.images}}" alt="" style="height: 50%; width: 50%;"> {{subsubcat.title}}</span></a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      
      
      <div class="col-md-4">
        <div id="seachInput" class="row">
          <span id="clickSearch"><input ng-model="title" id="formSearch" placeholder="Пошук"></span>
          <a href="" class="btn btn-primary" ng-click="onSelectOptionChanged()">Пошук</a>
          <a href="" class="btn btn-primary" ng-click="cleanFilter()">Очистити</a>
        </div>
      </div>
      
    </div>
  </nav>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div ui-view>​</div>

  <footer id="footer">
      <div class="subfooter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-xs-11 text-center">
              <ul>
                <li><p><i class="fa fa-phone" aria-hidden="true"></i> +38 (067) 137-42-75</p></li>
                <li><p><i class="fa fa-phone" aria-hidden="true"></i> +38 (063) 258-63-79</p></li>
                <li><p><i class="fa fa-phone" aria-hidden="true"></i> +38 (099) 778-45-49</p></li>
                <li><p><i class="fa fa-envelope" aria-hidden="true"></i> marian7711@ukr.net</p></li>
              </ul>
                
            </div>
            <div class="col-md-4 col-xs-12 mini-about lead text-center">
              <p>Графік роботи:<br/>Пн–Пт з 08-00 до 22-00</p>
              <p>www.inko.in.ua - Електроніка та побутова техніка для Вас!</p>
            </div>
            <div class="col-md-4 col-xs-12 social text-center">
              <ul>
              <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-vk" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div><hr/>
      <!-- .subfooter end -->
      <p style="margin-top: 10px;" class="text-center">Усі права захищено «inko.in.ua» Copyright © 2017.</p>
    </footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
  <script src="bower_components/summernote/dist/summernote.min.js"></script>
  <script src="bower_components/summernote/plugin/summernote-ext-video.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script type='text/javascript' src='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-summernote/dist/angular-summernote.min.js"></script>

  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="bower_components/ng-cropper/dist/ngCropper.all.min.js"></script>



  <script src="app.js"></script>
  <script src="config.js"></script>



  <!--<script src="directives/readMarkupDirective.js"></script>-->
  <script src="directives/read-markup.directive/read-markup.directive.js"></script>
  <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>

  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
  <script src="applicationController.js"></script>
  <script src="Factories/cropFactory.js"></script>
  <script src="Factories/categoriesFactory.js"></script>
  <script src="Factories/confirmFactory.js"></script>
  <script src="Factories/productsFactory.js"></script>
  <script src="Factories/modalsFactory.js"></script>
  <script src="Factories/teamFactory.js"></script>
  <script src="Factories/ordersFactory.js"></script>
  <script src="Factories/filtersFactory.js"></script>


  <script src="main/main.js"></script>
  <script src="about/about.js"></script>
  <script src="contacts/contacts.js"></script>
  <script src="products/products.js"></script>
  <script src="cart/cart.js"></script>
  <script src="products/order-modal/order-modal.controller.js"></script>
  <script src="dashboard/dashboard.js"></script>



</body>
</html>
