<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span></button>
    <h4 class="modal-title" id="{{$index}}-label">Оформлення замовлення</h4>
</div>
<div class="modal-body">
    <h3>Заповніть форму</h3>
    <div class="row">
      <p class="text-center">Напишіть нам!</p> 
    </div>
    <h2 class="no-top-margin">{{product.title}}</h2>
      <p>{{product.price + ' ₴'}}</p>
      <p>{{product.spec}}</p>
      <img ng-src="{{product.image}}">
    <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ваше ім’я..."><br>
    <input type="tel" class="form-control" placeholder="Ваш номер телефону..."><br>
    <textarea placeholder="Ваше повідомлення">
    </textarea>
  </div>
  <button type="submit" class="btn btn-success">Підтвердити</button>
</form>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Відмінити</button>
</div>