<div class="row">

	<div class="container col-md-3">
		<a href="" class="btn btn-success" ui-sref="dashboard.addmaker"><i class="fa fa-plus"></i> Додати виробника</a>
	</div>

	<div class="container col-md-9">
		<div class="row">
			<div class="input-group">
				<select ng-options="cat.c_id as cat.title for cat in categories" ng-model="maker.c_id" ng-change="getSubcatsList()">
				<option selected disabled value="">Вкажіть категорію</option>
				</select>

				<select ng-if="subcatsList" ng-options="subcat.s_id as subcat.title for subcat in subcatsList" ng-model="maker.s_id" ng-change="getSubSubcatsList()">
				<option selected disabled value="">Вкажіть підкатегорію</option>
				</select>

				<select ng-if="subSubcatsList" ng-options="subsubcat.ss_id as subsubcat.title for subsubcat in subSubcatsList" ng-model="maker.ss_id">
				<option selected disabled value="">Вкажіть субкатегорію</option>
				</select>
			</div>
		</div><br/>
		<div class="row">
			<a href="" class="btn btn-primary" ng-click="onSelectOptionChanged()">Сортувати виробників</a>
			<a href="" class="btn btn-danger" ng-click="cleanFilter()">Скинути категорії</a>
		</div>
	</div>

</div>

<hr/>
<div ng-cloak class="ng-cloak portfolio-container row grid-space-20">
	<div  ng-repeat="maker in makers track by $index" class="col-sm-6 col-md-2 portfolio-item">
		<div class="image-box">
			<div>
				<a>
					<span style="color:#000000;font-size:1.2em;">{{maker.name}}</span>
				</a>
			</div>
			<a class="btn btn-warning btn-sm" ui-sref="dashboard.editmaker({makerId: maker.id})" data-target="#{{$index}}">Редагувати</a>
			<a class="btn btn-danger btn-sm" href="" ng-click="deleteMaker(maker, $index)">Видалити</a>
		</div>
	</div>
</div><br/>
<div class="text-center"><a href="" class="btn btn-primary" ng-click="loadMore()">Показати ще виробників</a></div>