
<a href="" class="btn btn-success" ui-sref="dashboard.addmaker"><i class="fa fa-plus"></i> Додати виробника</a>
<hr>
<div ng-cloak class="ng-cloak portfolio-container row grid-space-20">
	<div  ng-repeat="maker in makers track by $index" class="col-sm-6 col-md-2 portfolio-item {{maker.name}}">
		<div class="image-box">
			<div>
				<a ui-sref="dashboard.editmaker({makerId: maker.id})" data-target="#{{$index}}">
					<span>{{maker.name}}</span>
				</a>
			</div><br><br>
			<a href="" ng-click="deleteMaker(maker, $index)"  class="btn btn-danger">Видалити виробника</a>
			<a class="btn btn-default btn-block" ui-sref="dashboard.editmaker({makerId: maker.id})" data-target="#{{$index}}"></a>
		</div>
	</div>
</div> 
<a href="" class="btn btn-primary" ng-click="loadMore()">Загрузити ще виробників</a> 