<form ng-submit="submitMember(member)">
	<div class="input-group">
		<input ng-model="member.name" placeholder="Ім'я Прізвище" class="form-control" required>
		<input ng-model="member.position" placeholder="посада" class="form-control" required>
		<input type="file" id='photo-input' onchange="angular.element(this).scope().onFile(this.files[0])">
		<a href="" class="btn btn-primary" ng-click="triggerInput()">Додати фото</a>
	</div>

	<div class="photoes-to-add" ng-show="member.image">
		<div class="row">
			<div class="col-md-3 photo-container">
				<img ng-src="{{member.image}}" class="img-circle">
				<a href="" class="btn btn-danger delete-btn" ng-click="deletePhoto($index)">Видалити</a>
			</div>
		</div>
	</div>
	
	<input type="submit" value="Створити" class="btn btn-success">
</form>