	<div class="page-heading">
		<div class="page-headers">
			<h1 class="text-left">Портфоліо</h1>
			<p class="lead text-left">Ось і наші роботи.</p>
		</div>			
	</div>

<div class="separator"></div>
<!-- section start -->
		<!-- ================ -->
		<div class="contain">
			<div class="container-fluid">
				<div class="row">
				<!-- isotope filters start -->
						<div class="col-md-3 filters">
							<ul class="nav nav-pills nav-stacked ">
								<li ng-class="{'active': !selectedTab}"><a ng-click="selectTab('')">Всі роботи</a></li>
								<li ng-class="{'active':selectedTab === cat.c_id}" ng-repeat="cat in categories"><a ng-click="selectTab(cat.c_id)">{{cat.title}}</a></li>
							</ul>
						</div>
						<!-- isotope filters end -->
						
				
					<div class="col-md-9">
						<div ui-view></div>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

