	<div class="page-heading">
		<div class="page-headers">
			<h1 class="text-left">Портфоліо</h1>
			<p class="lead text-left">Ось і наші роботи.</p>
		</div>			
	</div>

<div class="separator"></div>
<!-- section start -->
		<!-- ================ -->
		<div class="contain">
			<div class="container-fluid">
				<div class="row">
				<!-- isotope filters start -->
						<div class="col-md-3 filters">
							<ul class="nav nav-pills nav-stacked ">
								<li ng-class="{'active':selectedTab === undefined}"><a  href="" ng-click="myFiltering('')">Всі роботи</a></li>
								<li ng-class="{'active':selectedTab === cat.key}" ng-repeat="cat in categories"><a href="" ng-click="myFiltering(cat.key)">{{cat.name}}</a></li>
							</ul>
						</div>
						<!-- isotope filters end -->
						
				
					<div class="col-md-9">

						
						

						<!-- portfolio items start -->
						<div ng-cloak class="ng-cloak portfolio-container row grid-space-20">
							<div  ng-repeat="work in portfolio | filter: myFilter | orderBy: priority track by $index" class="col-sm-6 col-md-4 portfolio-item {{work.type}}">
								<div class="image-box">
									<div class="overlay-container">
										<img ng-src="{{work.imageUrl}}" alt="">
										<a class="overlay" ng-click="modal(work)" data-target="#{{$index}}">
											<i class="glyphicon glyphicon-zoom-in"></i>
											<span>Детальніше</span>
										</a>
									</div>
									<a class="btn btn-default btn-block" ng-click="modal(work)" data-target="#{{$index}}">{{work.name}}</a>
								</div>
							</div>
						</div>
						<!-- portfolio items end -->
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

