
<div class="row">	
	<div class="col-md-9">
		<carousel interval="myInterval">
			<slide ng-repeat="slide in item.images">
				<img ng-src="{{slide}}">
			</slide>
		</carousel>
	</div>
	<div class="side-buttons col-md-3">
		<button ng-click="modal($stateParams)" type="button" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span><br>Замовити дзвінок</button><br>
		<a ui-sref="portfolio"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th"></span><br>Портфоліо</button></a>
	</div>
</div>
<div class="col-md-9 service-info">
	<h2>{{item.title}}</h2>
	<read-markup mark="item.text"></read-markup>
</div>