<div class="page-heading">
	<div class="page-headers">
		<h1 class="text-left">Контакти</h1>
		<p class="lead text-left">Зв’яжіться з нами!</p>
	</div>			
</div>


<div ng-cloak id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
<div class="container-fluid">
	<div class="contacts row text-center">
		<div class="address col-md-6">
			<span class="glyphicon glyphicon-envelope"></span>
			Україна, м.Львів, 79034 вул. Литвиненка 3,<br> бізнес-центр "Мальви", 2-ий поверх, офіс 10.
			
		</div>

		<div class="contact-phones col-md-6">
			<span class="glyphicon glyphicon-earphone"></span>
			e-mail: excellence_lviv@ukr.net<br> 
			тел. (032)232-07-99<br> 
			тел. (067)756-37-04<br>
		</div>
	</div>
</div>


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Наша команда</h2>
                <h3 class="section-subheading text-muted">Ми знаємо свою справу!</h3>
                <div class="separator"></div>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-md-4 team-member" ng-repeat="member in team">
                    <img ng-src="{{member.image}}" class="img-responsive img-circle" alt="">
                    <h4>{{member.name}}</h4>
                    <p class="text-muted">{{member.position}}</p>
            </div>
        </div>
    </div>
</section>


<!-- <div class="contain">
<div class="container-fluid">
	<div class="row">

		<div class="contacts col-md-4">
			<div class="row">
				<div class="col-xs-2">
					<span class="glyphicon glyphicon-map-marker"></span>
				</div>
				<div class="col-xs-10">
					<p>Україна, м.Львів, 79034<br> вул. Литвиненка 3,<br> бізнес-центр "Мальви"<br> 2-ий поверх, офіс 10.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<span class="glyphicon glyphicon-envelope"></span>
				</div>
				<div class="col-xs-10">
					<p>e-mail: excellence_lviv@ukr.net</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<span class="glyphicon glyphicon-earphone"></span>
				</div>
				<div class="col-xs-10">
					<p>
					тел. (032)232-07-99<br> 
					тел. (067)756-37-04<br>
					</p>
				</div>
			</div>
		</div>
		

		<div ng-cloak id="map_canvas" class="col-md-8">
		    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
		        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
		        </ui-gmap-marker>
		    </ui-gmap-google-map>
		</div>
	</div>
</div>
<div class="separator"></div>
<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Наша команда</h2>
                    <h3 class="section-subheading text-muted">Ми знаємо свою справу!</h3>
                    <div class="separator"></div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-4 team-member" ng-repeat="member in team">
                        <img ng-src="{{member.imageUrl}}" class="img-responsive img-circle" alt="">
                        <h4>{{member.name}}</h4>
                        <p class="text-muted">{{member.prof}}</p>
                </div>
            </div>
    </section>
</div> -->