<div class="container-fluid">
  <br>
  <div id="gridSsub" ng-cloak class="ng-cloak portfolio-container">
    <div ng-repeat="ssub in ssubs track by $index" class="text-center" id="sub-sub-container">
    	<a class="sub-sub" ui-sref="main.ssubcategory({ ssubcatId: ssub.ss_id })" class="text-center" id="nameSubSubCat">
        <span><img ng-src="{{ssub.images}}" fallback-src="{{'images/fallback.png'}}"><br/>
        {{ssub.title}}</span>
      </a>
    </div>
  </div>
</div>

<hr/>

<div class="row">

	<div class="col-md-3">
    <div class="container-fluid">
  		<div>
  			<h2>Сортувати по ціні:</h2>
  		    <form>
  			    <div class="radio">
  			      <label><input ng-model="priceorderby" type="radio" value="ASC">від дешевих до дорогих</label>
  			    </div>
  			    <div class="radio">
  			      <label><input ng-model="priceorderby" type="radio" value="DESC">від дорогих до дешевих</label>
  			    </div>
  		    </form>
  		</div>
  		<h2>Фільтри</h2>
  		<select ng-model="maker">
  			<option selected disabled value="">Виберіть виробника</option>
  			<option ng-repeat="maker in makers track by $index" value="{{maker.name}}">{{maker.name}}</option>
  		</select>
      <br><br>
      <select ng-model="display">
        <option selected disabled value="">Виберіть розмір екрану</option>
        <option ng-repeat="display in displays track by $index" value="{{display.display}}">{{display.display}}</option>
      </select>
  		<br><br>
  		<a href="" class="btn btn-primary" ng-click="onSelectOptionChanged()">Фільтрувати товари</a>
  		<br><br>
  		<a href="" class="btn btn-danger" ng-click="cleanFilter()">Скинути фільтри</a>
      <br><br>
  	</div>
  </div>

	<div class="col-md-9">
    <div class="container-fluid">
      <div id="gridPortfolioMain" ng-cloak class="ng-cloak portfolio-container">
      	<div  ng-repeat="product in products|priceLessThan:priceterm | filter:$products.query track by $index" class=" portfolio-item {{product.title}}">
      		<div class="image-box">
      			<p id="overflowTitle">{{product.title}}</p>
            <span id="stylePrice">{{product.price*currency.cof + ' ₴'}}</span>
      			<div class="overlay-container">
      				<img ng-src="{{product.image}}" fallback-src="{{'images/fallback.png'}}">
      				<a class="overlay" ui-sref="products({productId:product.id})" data-target="#{{$index}}">
      				<p id="overlaySpecMain">{{product.spec}}</p>
      				</a>
      			</div>
      		</div>
      	</div>
      </div>
    </div><br/>
		<div class="text-center" ng-hide="hidebutton"><a href="" class="btn btn-primary" ng-click="loadMore()">Показати ще товарів</a>
    <br><br>
    </div>
	</div>

</div>