<!--<div class="page-heading">
	<div class="page-headers">
		<h1 class="text-left">Цікаве</h1>
		<p class="lead text-left">Безкоштовна доставка по Львову</p>
	</div>			
</div>-->
<div class="separator"></div>



<div class="container-fluid">
	<div class="row article-container">
		<div class="col-md-4">
			<a ng-repeat="product in products" class="news-item"  ui-sref="products({productId:product.id})">
				<img ng-src="{{product.image}}">
					<div class="article-block-headers">
						<h4>{{product.title}}</h4>
						<p>{{product.spec}}</p>
						<p>{{product.price + ' ₴'}}</p>
					</div>

			</a>
		</div>
		<div class="col-md-6 article">
			<h2 class="no-top-margin">{{product.title}}</h2>
			<p>{{product.price + ' ₴'}}</p>
			<p>{{product.spec}}</p>
			<img ng-src="{{product.image}}">
			<div data-ng-bind-html="product.text"></div>
			

		</div>
		<div class="col-md-2 user-buttons">
			
			<a ng-click = "add_cart(product)" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span>Додати у кошик</a>

			<!--<a ng-click="modal($stateParams)" href="" type="button" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span>Замовити дзвінок</a>-->

			<a ng-click="callModal()" href="" type="button" class="btn btn-success"><span class="glyphicon glyphicon-usd"></span>Оформити замовлення</a>
			<a ng-click="callOrderModal()" href="" type="button" class="btn btn-success"><span class="glyphicon glyphicon-usd"></span>Купити в один клік</a>
		</div>
	</div>
</div>

