<div class="page-heading">
	<div class="page-headers">
		<h1 class="text-left">Цікаве</h1>
		<p class="lead text-left">Тонкощі нашої справи</p>
	</div>			
</div>
<div class="separator"></div>



<div class="container-fluid">
	<div class="row article-container">
		<div class="col-md-4">
			<a ng-repeat="product in products" class="news-item"  ui-sref="products({productId:product.id})">
				<img ng-src="{{product.image}}">
					<div class="article-block-headers">
						<h4>{{product.title}}</h4>
						<p>{{product.spec}}</p>
					</div>

			</a>
		</div>
		<div class="col-md-6 article">
			<h2 class="no-top-margin">{{product.title}}</h2>
			<img ng-src="{{product.image}}">
			<read-markup mark="article.text"></read-markup>
		</div>
		<div class="col-md-2 user-buttons">
			
			<a ui-sref="portfolio" class="btn btn-primary"><span class="glyphicon glyphicon-th"></span>Портфоліо</a>

			<a ng-click="modal($stateParams)" href="" type="button" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span>Замовити дзвінок</a>

			<a ng-click="callModal()" href="" type="button" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span>Напишіть нам</a>
		</div>
	</div>
</div>

