

<div class="list-group">
  <div ng-repeat="cat in categories track by $index" class="cat">
  	<div class="list-group-item cat">{{cat.title}} 	
      <a href="" ng-click="deleteCategory(cat, $index)"  class="btn btn-danger">Видалити категорію</a>
      <a ui-sref="dashboard.addsubcat({catId: cat.c_id})" class="btn btn-default"><i class="fa fa-plus"></i> Додати підкатегорію</a>
  	</div>
  	
		<div ng-repeat="subcat in cat.subcats track by $index" class="list-group-item subcat">
			<span>{{subcat.title}}</span>
      <a ui-sref="dashboard.editsubcat({subcatId: subcat.s_id})" class="btn btn-warning">Редагувати підкатегорію</a>
      <a ng-click="deleteSubcategory(subcat, $parent.$index, $index)" href="" class="btn btn-danger">Видалити підкатегорію</a>
		</div>
  </div>
</div>
<a href="" class="btn btn-success" ng-click="catModal()"><i class="fa fa-plus"></i> Додати категорію</a>