
<div class="list-group">
  <div ng-repeat="article in news track by $index" class="cat">
  	<div class="list-group-item cat">{{article.title}} 	
      <a href="" ng-click="deleteArticle(article, $index)"  class="btn btn-danger">Видалити статтю</a>
      <a ui-sref="dashboard.editarticle({articleId: article.id})" class="btn btn-default">Редагувати статтю</a>
  	</div>
  	

  </div>
</div>
<a href="" class="btn btn-success" ui-sref="dashboard.addarticle"><i class="fa fa-plus"></i> Додати статтю</a>